{% extends '::base.html.twig' %}

{% block principale %}
	<div class="row">
		<div class="col-md-6">
			<div class="cadre">
				<h3> <span class="glyphicon glyphicon-option-vertical"></span> Derniers tomes :</h3>
				<table class="table table-hover">
					{% for tome in tomes %}
						<tr>
							<td>
								<span class="indent glyphicon glyphicon-menu-right" aria-hidden="true"></span> &nbsp;<a href="{{path('detailSerie', {'id': tome.nomSerie.id})}}#{{tome.id}}">{{tome.nomSerie}} - Tome {{tome.numero}} </a>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
		<div class="col-md-6">
			<div class="cadre">
				<h3> <span class="glyphicon glyphicon-option-vertical"></span> Derniers ajouts en collection :</h3>
				<table class="table table-hover">
					{%for possession in possession%}
						<tr>
							<td>
								<span class="indent glyphicon glyphicon-menu-right" aria-hidden="true"></span> &nbsp;<a href="{{ path('manblioAffichProfil', {'id':possession.utilisateur.id})}}">{{possession.utilisateur}} </a>
								à ajouter
								<a href="{{path('detailSerie', {'id': possession.livre.nomSerie.id})}}#{{possession.livre.id}}">{{possession.livre.NomSerie }} Tome {{possession.livre.numero }}</a> à  <a href="{{path('ManblioShowCollection', {'id': possession.utilisateur.id})}}"> sa collecion </a>
							</td>
						</tr>

					{% endfor %}
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
				<div class="cadre">
				<h3> <span class="glyphicon glyphicon-option-vertical"></span> Derniers utilisateur inscrit :</h3>
					<div class="clickable" onclick="self.location.href='{{ path('manblioAffichProfil', {'id':utilisateur.id})}}'">
					<table class="table">
						<tr>
							<td rowspan ="2" style="width:110px">
								{% if utilisateur.fileName != null %}
									<img src=" {{ asset('fichiers/images/imageProfil/') }}{{utilisateur.fileName}}" id="imgProfil" class="img-responsive"alt="image Profil"/>
									{% else %}
									<img src="{{ asset('fichiers/images/site/anonyme.png') }}" id="imgProfil" alt="image Profil"/>
								{% endif %}
							</td>
							<td> {{utilisateur.username}} </td>
						</tr>
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							<tr>
								<td> {{utilisateur.email}} </td>
							</tr>
						{% endif %}
					</table>
					</div>
				</div>
		</div>
		<div class="col-lg-6">
			<div class="cadre">
				<h3> <span class="glyphicon glyphicon-option-vertical"></span> Dernière série :</h3>
				<div class="row row-centered">
					<div class="col-sm-8 col-sm-offset-4 ">
						<h4> {{serie.nomSerie}}  -  {{serie.auteur}} </h4>
					</div>
				</div>
				<div class="row">
					<div class="text-center col-sm-4">
						<img class="ImgSerie img-responsive inlineBlock" src=" {{ asset('fichiers/images/nomSerie/') }}{{serie.fileName}}" alt="imgSerie"/>
					</div>
					<div class="col-md-8">
						{% if serie.description|length > 400 %}
							{{serie.description[:400]|nl2br}}
								<div class="row">
									<div class="col-md-12 center">
										 <a href="{{ path('detailSerie', {'id':serie.id})}}" class="btn btn-info btn-xs">
										 	 Lire la suite <span class="glyphicon glyphicon-share-alt"></span>
										 </a>
									</div>
								</div>
						{% else %}
							{{serie.description[:400]|nl2br}}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
