<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only" data-replace-tmp-key="6c7195551da0802a39b5e2bc7187df54">Basculer la navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ path('manblio_home_homepage')}}" data-replace-tmp-key="7adea0d9c77aabccd8bb67ae0a832d59"><img src=" {{ asset('fichiers/images/site/ban.png') }}" id="ban" alt="Manblio baniere"/> </a>
		</div>

		<div class="navbar-collapse collapse" id="navbar">
			<ul class="nav navbar-nav navbar-left">
				{# Accueil #}
				<li><a href="{{ path('manblio_home_homepage')}}"> Accueil </a></li>
				
				{# Serie #}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Serie <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{{ path('touteSerie')}}">Afficher les series</a></li>
						{% if is_granted('ROLE_LECTEUR') %}
							<li role="separator" class="divider"></li>
							<li class="dropdown-header">Administration</li>
							<li><a href='{{ path('ajouterNomSerie')}}'>Ajouter une serie</a></li>
							<li><a href='{{ path('ajouterLivre')}}'>Ajouter un tome</a></li>
							<li><a href='{{ path('AjouterSerie')}}'>Ajouter plusieurs tomes</a></li>
							<li><a href='{{ path('gestionBibliotheque')}}'>Gestion de la bibliothèque</a></li>
						{% endif %}
					</ul> 
				</li>

				{# Ma collection #}
				{% if is_granted('ROLE_USER') %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ma collection <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href='{{ path('maCollection')}}'>Ma collection</a></li>
							<li><a href='{{ path('dernierAjouts')}}'>Dernier tome ajouter</a></li>
						</ul> 
					</li>
				{% endif %}

				{# Mon profil #}
				{% if is_granted('ROLE_USER') %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mon profil <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href='{{ path('fos_user_profile_show')}}'>Afficher mon profil</a></li>
							<li role="separator" class="divider"></li>
							<li class="dropdown-header">Modifier mon profil</li>
							<li><a href='{{ path('manblioUpdateProfilUser')}}'>Mes informations</a></li>
							<li><a href='{{ path('manblioUpdateProfilPicture')}}'>Mon avatar</a></li>
							<li><a href='{{ path('fos_user_change_password')}}'>Mon mot de passe</a></li>
							<li><a href='{{ path('fos_user_profile_edit')}}'>Mon profil</a></li>
							<li><a href='{{ path('manblioDisabledPageAcount')}}'>Désactiver mon profil</a></li>
						</ul> 
					</li>
				{% endif %}

				{# Admin profil #}
				{% if is_granted('ROLE_ADMIN') %}
					<li><a href='{{ path('manblioAdminUsers')}}'>Gestion des profils</a></li>
				{% endif %}

				{# Contact #}
				<li><a href="#">Contact</a></li>

				<form class="navbar-form navbar-right">
					<input class="form-control" placeholder="Rechercher..." type="text" id="recherche">
				</form>

				<div id="navbar" class="navbar-collapse collapse">
					
				</div><!--/.navbar-collapse -->
			</div>
		</nav>