<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Manblio{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/menu.css') }}" type="text/css" rel="stylesheet" />
            
            <link href="{{ asset('script/JqueryUi/jquery-ui.css') }}" rel="stylesheet"/> 
            
            <script src="{{ asset('script/JqueryUi/external/jquery/jquery.js') }}" type="text/javascript"></script>
            <script src="{{ asset('script/JqueryUi/jquery-ui.js') }}" type="text/javascript"> </script>
            <script src="{{ asset('script/menuScript.js') }}" type="text/javascript"> </script>
            <script src="{{ asset('script/ajaxRecherche.js') }}" type="text/javascript"> </script>

        {% endblock %}
        <link rel="icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="globale">
        {% block body %}
            {% block en_tete %}
                <table class="en_tete">
                    <tr>
                        <td>
                            <a href="{{ path('manblio_home_homepage')}}">
                                <img src=" {{ asset('fichiers/images/site/logo.jpg') }}" id="logo" alt="Manblio logo"/>
                            </a>  
                        </td>
                         <td id="baniere">
                            <a href="{{ path('manblio_home_homepage')}}">    
                                <img src=" {{ asset('fichiers/images/site/ban.png') }}" id="ban" alt="Manblio baniere"/> 
                            </a> 
                        </td>
                        <td id="connexion">
                            
                            <div id="userAccordion"> 
                                <h3> Interface Utilisateur </h3>
                                <div style="padding:0px !important">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <p> 
                                        {% if app.user.profilComplet != 1 %}
                                            <p><button class="btn" onclick="self.location.href='{{ path('manblioUpdateProfilUser')}}'"> Completer le profil </button>
                                            </p>
                                        {% endif %}
                                            
                                        {% if app.user.fileName != null %}
                                            <img class="prof" onclick="self.location.href='{{ path('fos_user_profile_show')}}'"src=" {{ asset('fichiers/images/imageProfil/') }}{{app.user.fileName}}" id="imgProfil" alt="image Profil"/>   
                                        {% else %}
                                            <button class="btn" onclick="self.location.href='{{ path('manblioUpdateProfilPicture')}}'"> Ajouter une image de profil </button>
                                        {% endif %}
                                     </p>
                                    <p onclick="self.location.href='{{ path('fos_user_profile_show')}}'" class="prof">
                                        {{app.user.username}}
                                         <br/>
                                        {% if app.user.email|length > 20 %} 

                                         {{app.user.email[:17]}}...
                                        {% else %}
                                            {{app.user.email[:20]}}
                                        {% endif %}
                                    </p>
                                    <p>
                                    <button class="btn" onclick="self.location.href='{{ path('fos_user_security_logout')}}'">Déconnexion</button>
                                    </p>
                                {% else %}
                                   <p> 
                                    <button class="btn" onclick="self.location.href='{{ path('fosUserConnexion')}}'">Connexion</button>

                                        <br/>
                                        <br/>
                                    <button class="btn" onclick="self.location.href='{{ path('fos_user_registration_register')}}'">Créer un compte</button>
                                 
                                    </p>
                             {% endif %}
                            </div>
                            </div>
                            <br/>
                            <input type="text" placeholder=" Rechercher ... " class="recherche" id="recherche"/> <span class="ui-icon ui-icon-search"></span>
                        </td>
                    </tr>
                </table>
                <hr/> 
            {% endblock %}       

            {% block menu %}    
                {{render(controller('ManblioHomeBundle:Default:getMenu'))}}
                <hr/>
            {% endblock %}
            <div id="site">
                {% block principale %}

                {% endblock %} 
            </div>

        
                <div id="loading">
                    <h3> Recherche en cours ... </h3>
                    <div>
                        <img src=" {{ asset('fichiers/images/site/loading.gif') }}" />
                    </div>
                </div>

            <div id="resultats_recherche">

            {% if (users is defined) and (livres is defined) %}
                {% include 'ManblioHomeBundle:Default:resultat.html.twig' with {'users' : users, 'livres': livres}  %}
                {% endif %}
            </div>

            {% block pied_de_page %}
                <hr/>
                <div id='piedDePage'> <center> Manblio - 07/2015 - <a href="{{ asset('fichiers/documents/CGU_Manblio.pdf') }}" target='_blank'> CGU du site </a></center></div>
            {% endblock %}
       
        {% endblock %}

        {% block javascript %}
        {% endblock %}
        <script>
        $(document).ready(function() {
            $( "#userAccordion" ).accordion({icons: null, fillSpace: false});
        }); 
        
        $("#loading").accordion({icons:null});
        $("#loading").hide();
        $(".prof").css( 'cursor', 'pointer' );
    </script>
    </div>
    </body>

</html>
