{% trans_default_domain 'FOSUserBundle' %}

<div class="cadre">
	<div class="row">
		<div class="col-md-12">
			<h3> <span class="glyphicon glyphicon-option-vertical"></span> Changer de mot de passe </h3>
		</div>
	</div>

	<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
	{{ form_widget(form._token) }}
	<div class="row">
		<div class="col-sm-6">
			{% if form.current_password.vars.errors[0].message is defined %}
				<div class="alert alert-danger">
					{{ form.current_password.vars.errors[0].message }}
				</div>
			{% endif %}
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"></span></span>
				<input id="fos_user_change_password_form_current_password" name="fos_user_change_password_form[current_password]" required="required" type="password" class="form-control" placeholder="Ancien mot de passe" aria-describedby="basic-addon1">
			</div>
		</div>
		<div class="col-sm-6">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			{% if form.plainPassword.first.vars.errors[0].message is defined %}
				<div class="alert alert-danger">
					{{ form.plainPassword.first.vars.errors[0].message }}
				</div>
			{% endif %}
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-lock"></span></span>
				<input id="fos_user_change_password_form_plainPassword_first" name="fos_user_change_password_form[plainPassword][first]" required="required" type="password" class="form-control" placeholder="Nouveau mot de passe" aria-describedby="basic-addon2">
			</div>
		</div>
		<div class="col-sm-6">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			{% if form.plainPassword.second.vars.errors[0].message is defined %}
				<div class="alert alert-danger">
					{{ form.plainPassword.second.vars.errors[0].message }}
				</div>
			{% endif %}
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon3"><span class="glyphicon glyphicon-lock"></span></span>
				<input id="fos_user_change_password_form_plainPassword_second" name="fos_user_change_password_form[plainPassword][second]" required="required" type="password" class="form-control" placeholder="Confirmation" aria-describedby="basic-addon3">
			</div>
		</div>
		<div class="col-sm-6">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 center">
			<input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn"/>
		</div>
		<div class="col-sm-6">
		</div>
	</div>
</div>
