{% extends '::base.html.twig' %}

{% block principale %}
<div id="accordion">
    <h3> Profil de {{user.username}} </h3>
    <div>
        <div class="profilInfo">
            <fieldset>
                <legend>Profil :</legend>
                
                <p> Nom d'utilisateur : {{ user.username }}</p>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <p> E-mail : {{ user.email }} </p>
                {% endif %}
            </fieldset>

            <fieldset>
                <legend> Mes Informations </legend>
                
                <p> Date de naissance : {{ user.dateNaissance|date('d/m/Y')}}</p>
               
                <p> Origine : {{user.ville}} ( {{user.departement}} )</p>
            </fieldset>
        </div>
        
        <div class="profilPicture">
            <fieldset> 
                <legend> Mon image de profil </legend>
                {% if user.fileName is not null %}
                    <img class="profilPicture" src="{{ asset('fichiers/images/imageProfil/') }}{{user.fileName}}"/>
                {% else %}
                    <img class="profilPicture" src="{{ asset('fichiers/images/site/anonyme.png') }}"/>
                {% endif %}
                <br/>
            </fieldset>
        </div>
        <div class="autreInfo">
            <fieldset>
                <legend>Autre :</legend>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <p> Type de compte :
                        {% if 'ROLE_ADMIN' in user.roles %}
                            Administrateur
                        {% elseif 'ROLE_LECTEUR' in user.roles %}
                            Lecteur
                        {% else %}
                            Utilisateur 
                        {% endif %}
                    </p>
                {% endif %}
                    <p> Dernière connexion : {{ user.lastLogin|date('d/m/Y')}}</p>
            
                    <p><button class="btn-align" onclick="location.href='{{ path('ManblioShowCollection', {'id': user.id})}}'"> Sa collection </button>
                    </p>
            </fieldset>
        </div>
    </div>       
</div>
<script>
    $( "#accordion" ).accordion({icons: null});
    $(".lien").button();
</script>
{% endblock %}